<div id="posts_list">
<table>
	<% @posts.each do |post| %>
	<tr>
	<td class="list_body">
		<dl>
			<dt><%= link_to post.title, post %></dt>
			<dd><%= post.created_at %></dd>
			<dd><%= truncate(strip_tags(post.body),
								:length => 520) %></dd>
		</dl>
	</td>
	</tr>
	<% end %>
</table>
<%= will_paginate %>
</div>
<%= link_to 'Create a New Post', new_post_path %>